/* variables color */

$rojo:rgb(212,32,39);
$blanco:white;
$gris_oscuro:darkgray;
$gris_medio:gray;
$gris_claro:lightgrey;
$violeta:rgb(121,30,94);
$celeste_grisaceo:#d7dee8;
$azul_grisaceo:#333333;

/* variables ubicación */

$centrar:center;